body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

/* Flexbox for the Gallery Page */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}
.menu-item {
    margin-bottom: 30px;
}

.menu-item h3 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.hero-section {
    position: relative;
}

.hero-section img {
    width: 100%;
    height: auto;
  
}
.hero-section :hover img {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
  }
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero-text h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
}

.about-section {
    margin-top: 30px;
}

.about-section h2 {
    color: #333;
    text-align: center;
}

.about-section p {
    color: #555;
    text-align: center;
}